* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}
.VCR99n .wjcbtA, .VCR99n .yo2bZi {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    display: flex;
}

.VCR99n .wjcbtA {
    margin: 16px auto 0;
    width: 40px;
    min-height: 350px;
    position: relative;
    max-width: inherit;
    background-color: #f5f3f3;
}
.NXna7w {
    color: #212121;
    margin: 0 auto;
    border-radius: 2px;
    height: 528px;
    max-width: 750px;
    min-width: 650px;
}

.NXna7w .Q\+Pbkc {
    background-color: #224edc;
    color: #fff;                         
    padding: 40px 33px;
    font-size: 15px;
}
.NXna7w .Q\+Pbkc .FgTkdt {
    font-size: 18px;
    margin-top: 16px;
    line-height: 150%;
    color: #dbd3d3;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.NXna7w .Q\+Pbkc .KIOyzU {
    font-size: 28px;
    font-weight: 500;
}

.Sm1-5F {
    padding: 56px 35px 16px;
    position: relative;
    background-color: #f5f3f3;
}
.I-qZ4M {
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
}
.r4vIwl {
    /* padding: 8px 0px; */
    width: 100%;
    color: #000;
    font-size: inherit;
    background: #f5f3f3;
    border: none;
    border-bottom: 1px solid #675f5f9b;
}
.UfYqpu {
    position: relative;
    display: block;
    width: 100%;
}
.EpHS0A {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.c9RDXR {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.LSOAQH {
    margin-top: 16px;
   
}
.QqFHMw._7Pd1Fp {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-weight: 600;
}
.twnTnD {
    width: 100%;
    height: 48px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}



.ZJ3AS1 {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
}
.azBkHf {
    color: #812ade;
    font-weight: 400;
}
a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

